<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.UsersMapper">

    <resultMap id="usersMap" type="Users">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="userroles" column="user_roles"/>
    </resultMap>

    <select id="UsersLogin" resultMap="usersMap" parameterType="Users">
        select * from users
        WHERE user_name=#{userName}
        and password=#{password}
    </select>

</mapper>