<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.UsersMapper">

    <resultMap id="usersMap" type="Users">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="userroles" column="user_roles"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="UsersLogin" resultMap="usersMap" parameterType="Users">
        select * from users
        WHERE user_name=#{userName}
        and password=#{password}
    </select>

    <insert id="addUser" parameterType="Users">
        insert into users
        VALUES (0,#{userName},#{password},#{userroles},1)
    </insert>

    <select id="queryAll" resultMap="usersMap">
        SELECT * FROM users
        ORDER BY id DESC
    </select>

    <update id="updateUser" parameterType="Users">
        UPDATE users set
        status=#{status}
        where id = #{id}
    </update>

    <select id="queryUserById" parameterType="int" resultMap="usersMap">
        SELECT * FROM users WHERE id=#{id}
    </select>
</mapper>